<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <property name="MDC_CONSOLE_LOG_PATTERN" value="%clr(%-5p) %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m | %mdc %n%wex"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${MDC_CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <logger name="com.micromata" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <root level="WARN">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
