<!doctype html>
<html>
<head data-th-replace="header :: head"></head>
<body>
<nav data-th-replace="header :: navigation"></nav>


<div class="container">
  <div id="success" data-th-if="${submit}" class="alert alert-success" data-th-text="#{index.submit.success}"></div>
  <div class="teaser" data-th-utext="#{index.teaser}">Teaser text</div>

  <form data-th-action="@{/submit}" method="post">
    <div class="form-group">
      <textarea class="form-control" name="text" rows="10" data-th-placeholder="#{index.placeholder}" autofocus="autofocus"></textarea>
    </div>
    <button type="submit" class="btn btn-default" data-th-text="#{index.submit}">Submit</button>
  </form>
</div>


<div data-th-replace="footer :: javascript"></div>
<script data-th-inline="javascript">
  /*<![CDATA[*/
  $(function() {
    // Close success alert after 3 seconds
    window.setTimeout(function() {
      $("#success").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
      });
    }, 3000);
  });
  /*]]>*/
</script>
</body>
</html>
